<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">ElasticBoard</a>
      <span class="badge badge-important" style="margin-top:11px;">Unable to Connect to ElasticSearch</span>
    </div>
  </div>
</div>

<div class="container">

  <!-- Example row of columns -->
  <div class="row">
    <div class="span6">
      <h2>Cluster Health <span class="badge badge-important">Down</span></h2>
      <div class="well well-top">
        <table class="summary_table">
          <tr><td style="font-weight: bold">Number of Nodes</td><td>0</td></tr>
          <tr><td style="font-weight: bold">Active Shards</td><td>0</td></tr>
          <tr><td style="font-weight: bold">Active Primary Shards</td><td>0</td></tr>
          <tr><td style="font-weight: bold">Unassigned Shards</td><td>0</td></tr>
        </table>
      </div>
    </div>
    <div class="span6">
      <h2>Nodes in Cluster</h2>
      <div class="well well-top">
        <table class="summary_table">
        </table>
      </div>
    </div>
  </div>

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="container">
    <h2>Indexes</h2>
    <div class="well">
      <h2>Unable to connect to ElasticSearch</h2>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; ElasticBoard 2013</p>
  </footer>

</div>